html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #f7f7f7;
}
:root {
 height : 50vh
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  background-color: #773dc8;
  color : white;
  overflow: hidden;
  position: fixed;
  width : 80px;
  transition: all 0.3s ease-in;
  z-index: 10;
  overflow-x: hidden;
  white-space: nowrap;


}
.font--text {
  font-size: 0.75rem !important;
}
#navbar__item{
  height: 100vh;
  display: flex;
  padding : 0 0 12px;
  flex-direction: column;
  justify-content: space-between;
}


.text--hide {
  display: none;
}

.navbar__menu--item {
  color: #f2f2f2;
  padding: 14px  !important;
  text-decoration: none;
}



.smallbio{
  letter-spacing: 1px;
    color: #5F6F81;
    font-size: 1rem;
    min-width: 250px;
    line-height: 1.4;
}
.smallbio span{
  color: #8444df;
    font-size: 1.1rem;
}
ul .a {
  list-style-type: square;

}

.text__bullet__points {
  font-size: 6px;
  padding-right: 10px;
  vertical-align: middle;

}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.container {
  display: grid;
  grid-template-columns: 0.15fr 1.5fr;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    display: none;
  }
  .margin-col {
    margin : 20px !important;
    max-width: none;
  }
  .container {
    display: grid;
    grid-template-columns: none;
  }
  .grid-style{
    display: grid !important;
    row-gap: 2px !important;
    place-items: center !important;
  }
  .button-style{
    margin-right: 0px !important;
  }
  .paper-style{
    box-shadow: none !important;
    padding-right: 24px !important;
  }
}


